<div class="page-content page-container" id="page-content">
  <div class="padding">
      <div class="row justify-content-center">
          <div class="col-lg-9 col-md-11 col-sm-12 col-xs-12">
              <div class="card px-3">
                  <div class="card-body">
                      <h4 class="card-title">Todo</h4>
                      <app-add-todo></app-add-todo>
                      <div class="list-wrapper">
                          <ul class="d-flex flex-column-reverse todo-list">
                              <app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>