.show-description {
  padding-bottom: 1rem
}

.show-description a {
  cursor: pointer;
  padding-left: 0.8rem;
}

.todo-container {
  margin-bottom: 0.2rem
}

.description-input-container {
  padding-bottom: 1rem;
}